<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Previsão de Distúrbio do Sono</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename= 'imgs/noite.png') }}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Classificação do Sono</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/analise">Análise do Knime</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sobre">Sobre</a></li>
                </ul>
            </div>
        </div>
    </nav>

	<div class="main-container mt-2 mb-2">
		<div class="card">
			<div class="card-header bg-dark text-white">
				<h1 class="h4 mb-0">Download da Base de Dados</h1>
			</div>
			<div class="card-body">
				<p class="card-text">Fonte da Base de Dados: <a href="https://www.kaggle.com/datasets/uom190346a/sleep-health-and-lifestyle-dataset" target="_blank">Kaggle</a></p>

				<p class="card-text">Clique no botão abaixo para fazer o download do arquivo PMML utilizado na análise.</p>
				<div class="mt-4">
					<a href="knime/sleep-health.pmml" class="btn btn-primary" download>Download do PMML</a>
				</div>
			</div>
		</div>
	</div>

	<div class="main-container mt-2 mb-2">
		<div class="card h-100">
			<div class="card-header bg-dark text-white">
				<h1 class="h4 mb-0">Diagrama Knime</h1>
			</div>
			<div class="card-body">
				<img src="/static/imgs/knime-workflow-diagram.svg" alt="knime-workflow" class="w-100">
				<p class="card-text">Colunas filtradas pelo Correlation Filter:</p>
				<div class="mt-4">
					<ol>
						<li>Age</li>
						<li>Sleep Duration</li>
						<li>Physical Activity Level</li>
						<li>Gender (to number)</li>
						<li>Occupation (to number)</li>
						<li>BMI Category (to number)</li>
						<li>Sleep Disorder <strong>TARGET</strong></li>
						<li>Quality of Sleep <strong>REMOVIDO PELO CORRELATION FILTER</strong></li>
						<li>Stress Level <strong>REMOVIDO PELO CORRELATION FILTER</strong></li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="main-container mt-2 mb-2">
		<div class="card">
			<div class="card-header bg-dark text-white">
				<h1 class="h4 mb-0">Análise do Scorer de cada Algoritmo</h1>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 mb-4">
						<img src="/static/imgs/Scores/Scorer - Random Forest Learner.svg" alt="Score 1" class="img-fluid">
						<p class="text-center">Random Forest Learner</p>
					</div>
					<div class="col-md-6 mb-4">
						<img src="/static/imgs/Scores/Scorer - Decision Tree Learner.svg" alt="Score 2" class="img-fluid">
						<p class="text-center">Decision Tree Learner</p>
					</div>
					<div class="col-md-6 mb-4">
						<img src="/static/imgs/Scores/Scorer - PNN Learner (DDA).svg" alt="Score 3" class="img-fluid">
						<p class="text-center">PNN Learner (DDA)</p>
					</div>
					<div class="col-md-6 mb-4">
						<img src="/static/imgs/Scores/Scorer - K Nearest Neighbor.svg" alt="Score 4" class="img-fluid">
						<p class="text-center">K Nearest Neighbor</p>
					</div>
					<div class="col-md-6 mb-4">
						<img src="/static/imgs/Scores/Scorer - SVM Learner.svg" alt="Score 5" class="img-fluid">
						<p class="text-center">SVM Learner</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-container mt-2 mb-2">
		<div class="card">
			<div class="card-header bg-success text-white">
				<h1 class="h4 mb-0">Conclusão</h1>
			</div>
			<div class="card-body">
				<p class="card-text">Considerando a <strong>Acurácia</strong> de todos os algoritmos, chega-se à conclusão de que o melhor algoritmo de classificação a ser usado sistemas de recomendação por meio de aprendizado supervisionado é o <strong>Random Forest Learner</strong> pois este possui a maior acurácia, logo também, maior taxa de acertos nas previsões.</p>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script>
</body>
</html>